#systemd unit for puma
[Unit]
Description=Puma Unit
After=mongod.service

[Service]
Type=forking
User=appuser
ExecStart=/usr/local/bin/puma -d --pidfile /tmp/puma.pid --dir /home/appuser/reddit
PIDFile=/tmp/puma.pid
ExecStop=/usr/local/bin/pumactl -P /tmp/puma.pid stop

[Install]
WantedBy=multi-user.target
