Vagrant.configure("2") do |config|

	config.vm.provider "virtualbox" do |v|
		v.memory = 512
	end

  config.vm.define "server" do |db|
    db.vm.box = "ubuntu/xenial64"
    db.vm.hostname = "server"
    db.vm.network :private_network, ip: "10.10.10.10"
  end

end
